//=================================
//  TODAY
//=================================
.today {
    padding-bottom: 1rem;
    &__top {
        display: flex;
        justify-content: flex-start;
        padding-bottom: 1rem;
            select {
                border-radius: 2px 0 0 2px;
                border: 1px solid $color-primary;
            }
            input {
                background-color: $color-primary;
                border: none;
                border-radius: 0 2px 2px 0;
            }
            &__selector,
            &__date,
            &__day {
                margin-right: 1rem;
            }
            &__selector {
                display: flex;
                justify-content: center;
            }
            &__date,
            &__day {
                font-size: 2rem;
                color: $color-darkest;
            }
            &__date {

            }
            &__day {
                font-weight: bold;
            }
        }
    &__more__details {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.7rem;
        align-items: center;
            &__icon {
                font-size: 6rem;
            }
            &__temperature {
                font-size: 4rem;
            }
            &__group {
                line-height: 1.5rem;
                font-size: 1.2rem;
                    span {
                        font-weight: bold;
            }
        }
    }
}
//=================================
//  MEDIA QUERIES
//=================================
@media screen and (max-width:1100px) {
    .today {
        padding-bottom: 0;
        text-align: center;
            &__top {
                flex-direction: column;
                align-items: start;
                    &__selector,
                    &__date,
                    &__day {
                        margin: 0;
                        display: block;
                        width: 100%;
                        font-size: 1.3rem;
                        line-height: 1.3rem;
                    }
                    input {
                        height: 100%;
                    }
                }
            &__more__details {
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                text-align: center;
                    * {
                        margin-bottom: .6rem;
                    }
                    &__temperature{
                        font-size: 2.6rem;
                    }
                    &__group{
                        font-size: 1rem;
                    }
                    &__icon{
                        font-size: 5.5rem;
            }
        }
    }
}