//=================================
//  TODAY
//=================================
.week {
    display: flex;
    width: 100%;
        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: calc(100%/6 - 2%);
            margin: 1%;
            &__day,
            &__icon,
            &__temperature {
                width: 100%;
                text-align: center;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
                &__day{
                    font-size: 1.8rem;
                }
                &__icon {
                    font-size: 2.5rem;
                    padding: 1rem;
                    background-color: rgba(255,255,255, 0.6);
                    border-radius: 4px;
                }
                &__temperature{
                    font-size: 1.7rem;
                    margin-bottom: 0;
        }
    }
}
//=================================
//  MEDIA QUERIES
//=================================
@media screen and (max-width:1100px) {
    .week {
        flex-wrap: wrap;
        &__box {
            width: calc(100%/3 - 2%);
            margin: 3% 1%;
                &__day,
                &__icon,
                &__temperature {
                     font-size: 1.2rem;
            }
        }
    }
}
@media screen and (max-width:500px) {
    .week {
        flex-wrap: wrap;
        &__box {
            width: calc(100%/2 - 2%);
            margin: 3% 1%;
                &__day,
                &__icon,
                &__temperature {
                    font-size: 1rem;
            }
        }
    }
}