@import "weather-icons-master/css/weather-icons.css";
@import "../../node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss";
@import "variables";
@import "today";
@import "week";

body {
    background-image: url('../img/bg2.jpg');
    background-size: cover;
    font-family: $primary-font-family;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lighten( $color-darkest, 10%);
        .container {
            margin: 2rem;
            background-color: rgba(255,255,255, 0.6);
            width: 50vw;
            max-width: 45rem;
            border-radius: 4px;
            padding: 2.5rem;
    }
}
//=================================
//  MEDIA QUERIES
//=================================
@media screen and (max-width:800px) {
    body {
        .container {
            padding: 1rem;
            width: 80vw;
        }
    }
}

